body {
    background-image:url("../zabby-allen-bkgd.jpg");
        background-image: url("paper.gif");
        background-color: #50a9fd;
        border: #000;
        border-style: solid;
        border-width: 2px;
        color:white;
     }
     #outerdiv{
         height: 800px;
         width:800px;

     }
     .button3 
     {
        background-color: #f44336;
        border:none;
        padding:15px;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;

        }